DATABASE_URL="URL to postgres database"
SECRET_KEY="Key for hashing passwords"
ALGORITHM="SHA256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
SENDGRID_API_KEY="API key used for sendgrid's API"
FROM_EMAIL="Email verified on Sengrid API that you will be sending from. This email is also used for test data generating purposes"
TO_EMAIL="Email of the attorney who will be contacting these leads"
FRONTEND_URL="URL of client for cors purposes"
BUCKET_NAME="Bucket path/directory for uploading the resumes/CV"
GOOGLE_APPLICATION_CREDENTIALS="Path to GCP Service key in .json file. This file should be inthe root of the server directory"